@media (width > 990px)  {
  .sub-nav.megamenu-sub {
    /*opacity: 1 !important;*/
    /*visibility: visible !important;*/
    min-height: 20.00em !important;
    padding-bottom: 3.00em !important;
    padding-left: 2.00em !important;
    background: #ffffff url('images/sub-menu-background.jpg') no-repeat top right / cover !important;
  }
  .sub-nav.megamenu-sub > li:nth-child(2) {
    display: none !important;
  }
  .dt-megamenu li {
    width: 28.00em !important;
  }

  .dt-menu-leftbar {
    overflow: visible !important;
  }
  .menu-item {
    cursor: pointer !important;
    float: none !important;
  }
  .menu-item-header {
    margin: 2.00em 0 0.80em;
    & > a span {
      font-family: 'Crimson Text', serif !important;
      font-size: 1.80em !important;
      letter-spacing: 0.15em;
      text-transform: uppercase !important;
    }
  }
  .menu-item:hover {
    & > a span {
      color: #545454 !important;
    }
  }
  ul.megamenu-sub li.menu-item {
    margin-bottom: 1.00rem !important;
  }
}

div.esgbox-overlay {
  background-image: none !important;
  background-color: rgba(0,0,0,0.85) !important;
}
div.esg-overlay.esg-slide.eg-howardtaft-container {
  background-color: rgba(0,0,0,0.50) !important;
}
span.contact-form-newsletter-signup {
  font-size: 1.25em;
}
span.add-newsletter {
  margin-top: 0.25em !important;
}
.backPortfolio__container {
  margin-bottom: 0 !important;
  text-align: right !important;
}
.backPortfolio__link {
  color: #838383;
  cursor: pointer;
}